<h3>Add a Pokemon</h3>

<form action="/pokemon" method="post">
  <select name="name">
    <% Pokemon.scrape_pokemon.each do |pokemon| %>
       <option value="<%= pokemon %>" id="name"> <%= pokemon %> </option>
    <% end %>
  </select>
  <p>
    <label>Nickname:</label>
    <input type="text" name="nickname" id="nickname"><br></br>
    <label>Type:</label>
    <input type="text" name="p_type" id="p_type" required><br></br>
    <label>Weight:</label>
    <input type="float" name="weight" id="weight"><br></br>
    <label>Height:</label>
    <input type="float" name="height" id="height"><br></br>
    <label>CP:</label>
    <input type="integer" name="cp" id="cp" required><br></br>
    <label>Attack Move:</label>
    <input type="string" name="attack_move" id="attack_move" required>
    <label>Damage:</label>
    <input type="integer" name="attack_move_damage" id="attack_move_damage" required><br></br>
    <label>Special Move:</label>
    <input type="string" name="special_move" id="special_move" required>
    <label>Damage:</label>
    <input type="integer" name="special_move_damage" id="special_move_damage" required><br></br>
  </p>
  <input type="submit" value="submit">
</form>
