<h2>Welcome <%= @user.username %></h2>
<h3>My Pokedex</h3>
<br></br>
<p>My Pokemon</p>
<% @user.pokemons.each do |pokemons| %>
  <p><a href="/pokemon/<%=pokemons.id%>"><%= pokemons.name %></a></p>
<% end %>
<br></br>
<h3><a href="/pokemon/new">Add a new Pokemon</a></h3>
<br></br>
<a href="/logout">Logout</a>
